div#bigbluebutton {
	border: 0px solid #ccc;
	padding: 10px;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFFFFF;
	color: #000000;
	margin-top: 30px;
	margin-bottom: 30px;
	
}